
@{
    Layout = null;
    if (Session["First_Name"] == null)
    {
        Response.Redirect("~/Users/UserLogin");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div>
        
        <h3>Welcome Back  @Session["First_Name"]</h3>
        <a href="@Url.Action("LogOut","Users")">LOGOUT</a>
    </div>
</body>
</html>
